::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
	background: transparent;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 9px;
	height: 10px;
	background: #ccc;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d1d1d1, #dadada);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d1d1d1, #dadada);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar-track-piece {
	height: 200px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}

.cursor-move {
	cursor: move;
}

.bg-transparent {
	background-color: transparent;
}
